html{

    /* Colors from Design */

    /* Geral: Title and button */

    --color-orange: #ED7839;
    --color-gray-dark: #4E4E4E;

    /* Color font for menu, header */

    --color-gray-light: #725C5C;

    /* Color font info-profiler */

    --color-info-profile: #333333;

    /* Backgrounds */

    --background-orange: #FDF1EB;
    --background-geral: #E5E5E5;
    --background-white: #FFFFFF;
    --background-card-reply: #F8F8F8;

    /* Gradient */

    --gradient-event: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);

    /* Color font for content card */
    --color-gray-content: #4D4D4D;
    --color-gray-base: #5C5C5C;

    /* border card */
    --border:  #ECECEC;



    /* No found Segeo UI in open source catolog */
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;

    list-style: none;
}

.content-wrapper{
    width: 84%;
    float: right;

}
aside{
    width: 16%;
    margin: 0; padding: 0;
    float: left;
    top: -5px;
    position: fixed;

}

/* Estilo menu lateral */
aside >  #title-event{
    background: var(--gradient-event);
    font-family: 'Roboto', sans-serif;
    color: var(--background-white);
    font-style: normal;
    font-weight: 700;
    padding: 2.2rem;
    text-align: center;
    
    
}
aside #image-event{
    width: 100%;
}

#languages{
    padding:1rem 0;
}
#languages, select{
    background: var(--color-background-oranged);
    color: var(--color-info-profile);
    font-weight: 400;

}
.menu, #login{

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    color: var(--color-gray-light);
    
}
.option-event > li {
    margin: 0px; padding: 0px;
    border-bottom: 1px solid var(--border);
    text-align: left;
    list-style-type: none;
}
.option-event a{
    font-weight: 500;
   
}
.option-event a:link {
    background: white;
    color: var(--font-info);
    text-decoration: none;
    padding: 8px;
    display: block;
}

/* Estilo conteudo da página */

.content-wrapper{
    background: white;

}
.content-wrapper  header{
    background-color: var(--background-orange);
    color: var(--color-gray-light);
    display: flex;
    justify-content: space-between;

    font-size: 0.8em;
    font-weight: 400;
    padding: 0.5em ;
    
    line-height: 2em;
    width: 100%;

}

.profille > #login{
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1em;
}
.profille p{
    color: var(--color-info-profile);
    font-weight: 400;
}
#login > img {
    border-radius: 50%;
    margin-left: 1em;
    display: flex;
    justify-content: center;
}
/* Corpo da página */
main{
    padding: 2em;
}
/*  Primeira seção do site*/
#apresentation{
    height: 450px;
}
#apresentation-video{
    width: 95%;
    height: 100%;
}
#apresentation-main {
    width: 75%;
    float: left;

}
#apresentation-main h2{
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
}
#apresentation-info{
    width: 25%;
    margin: 0; padding: 0;
    float: right;
}
/* video */
#apresentation{
    margin: 1.5em;
}
/* botões do card info */
.controls{
   padding: 1em;
   display: flex;
   justify-content: center;
   text-align: center;
   
}
.controls button{
    color: var(--background-white);
    background-color: var(--color-orange);
    margin: 0.2em;
    border-radius: 8%;
    transition: 1s all;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
}
.controls #download{
    width: 8em;
    padding: 0.5em;

}
.controls #favorite{
    width: 3em;
    padding: 0.5em;
}
.controls #doi{
    width: 4em;
    padding: 0.2em;
}
/* titulos em laranja */
.title-orange{
    color: var(--color-orange);
    font-family: 'Roboto', sans-serif;
}
.title-orange h2{
    font-style: normal;
    font-weight: 400;
    font-size:1.5em;
}
.title-orange a {
    color: var(--color-orange);
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
    text-align: right;
    transition: 1s all;
}
/* titlos em cinza */
.title-gray{
    color: var(--color-gray-content);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
}
/* fonts e cores de cards  */
#card-info, #content-discussions, #thank, #topic-name,.name-author-question, .content-discussion {
    font-family: 'Quicksand', sans-serif;
    color: var(--color-gray-light);
}
#content-abstract, #details-work{
    font-family: 'Quicksand', sans-serif;
    color: var(--color-gray-base);
}
/* Card de info dos autores */
#card-info{
    width: 100%;
    height: 90%;
    border: solid 1px var(--border);
    margin-top: 0.5em;
    margin-bottom: 2em;   

    font-style: normal;
    font-weight: normal;

    border-radius: 3px;


}
#card-info  #details-work{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    height: 25em;
    width: 100%;
}
#card-info  h3{
    background: var(--color-background-oranged);
    border-bottom: solid 1px var(--border);
}

#card-info div{
    display: flex;
    flex-direction: column;
    width: 100%;

}
#card-info #detail-name{
    font-size: 1.3em;
    padding: 0.5em;
}
#card-info #details-work{
    padding: 0.5em;
}
#details-work #details-data, #details-autor-name{
    margin-bottom: 1em;
    line-height: 1.5em;
}
#author-info li{
    line-height: 1.5em;
}
/* Cards da página */
#abstract.card{
    height: fit-content;
}

/* Titulos dos cards */
#barbage{
    background-color:white;
    color: white;
}
#resume,#discussions{
    background-color: var(--color-background-oranged);
    border-bottom: solid 1px var(--border);
    padding: 1em;
}

.content-cards{

    border: solid 1px var(--border);
    border-radius: 3px;

    padding-bottom: 1em;
    margin-top: 2em;
    width: 90%;
    margin-left: 2em;
    height: fit-content;
    
}
#content-abstract{
    line-height: 1.5em;
    padding: 1em;
    
    text-align:justify;
	text-justify:inter-word;
}
#more{
    /* Construindo o leia mais do resumo */
    display:none;
}
#buttonRead{
    background: white;
    color: var(--font-info);
}
/* Cards dentro de discussões */
#share, #topic-name{
    width: 60%;
    margin: 2em 12em;
    border-bottom: 1px solid var(--border);
}
#topic-name{
    width: 90%;
    border: none;
    margin: 2em;
}
#new-topic{

    padding-bottom: 1em;
    margin-top: 2em;
    width: 90%;
    margin-left: 2em;
    display: none;

}
#new-topic div{
    padding: 0.8em 3em;
}
#new-topic input, textarea {
    padding: 0.3em;
    margin: 0 5em;

    width: 80%;
    border: 1px solid var(--border);

    font-family: 'Quicksand',sans-serif;
    font-weight: 400;
    color: var(--color-gray-content);
}
#sent-sucess{
    height: fit-content;
    width: 90%;
    border-bottom: 1px solid var(--border);

    padding: 3em;
    margin-left: 3em;
    line-height: 1.5em;
    text-align: center;
    text-justify: inter;

    display: none; 
}
#sent-sucess  #ad-topic{
    margin-left: 1em;
    margin-top: 3em;
}
#sent-sucess #discover{
    text-decoration: underline;
}
textarea {
    resize: none;
}
#discussion-topic{
    height: fit-content;
    width: 90%;
    background: var(--color-background-light);

    padding: 2em;
    border: 1px solid var(--border);
    margin: 2em;

    font-family: 'Quicksand',sans-serif;
    color: #707070;

    text-align: center;
    text-justify: inter;
    line-height: 1.5em;

    display: none;
}
#discussion-topic p{
    font-weight: 700;
}
#discussion-topic h4{
    color: var(--color-orange);
    font-weight: normal;
    font-weight: 400;
    text-decoration: underline;
}
#share #content-discussions{
    margin: 2em 4em;
}
#icons-discission{
    margin: 1em;
    padding-top: 1em;

}
#icons-discission img{
    margin-left: 3em;
}
.do-you-know{
    width:100%;
    text-align: center;
    color: var(--color-gray-base);
}
#ad-topic, #send{
    color: var(--background-white);
    font-family: 'Quicksand',sans-serif;
    font-weight: bold;
    font-size: 1em;

    background: var(--gradient-event);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;

    width: 10em;
    padding: 0.5em;
    margin-left: 10em;
    margin-bottom: -20em;

    transition: 1s all;
}
#send{
    transition: 1s all;
    margin-left: 42em;
}

.reply{
    font-family: 'roboto','sans-serif';
    font-size: 1em;
    background: white;
    color: var(--color-title-geral);
}
.card{
    padding: 2em;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
}
.likes-info{
    display: flex;
    padding: 0.5em;
}
.likes-info > p,button {
    margin: 0.5em;
}
.like{
    background: var(--orange-dark);
    width:2em;
}
.opt{
    font-weight: 900;
    color: var(--orange-dark);
}
footer > img{
    margin-top: 5em;
   

}
/* Comentarios da discussão */
.name-author-question{
    font-weight: bold;
}

.reply-author,.reply-coauthor,.reply-participant{
    height: fit-content;
    border: 1px solid var(--border);
}
.reply-author, .reply-coauthor{
    background: var(--background-card-reply);

}
.name-author-reply{
    font-weight: 700;
    color: var(--color-gray-base);
}
.title-author-reply{
    font-weight: 700;
    color: var(--color-orange);
}
.coment{
    color: var(--color-gray-content);
    font-weight: 400;
}
.reply-info{
    display: flex;
    justify-content: space-between;
}
.card-reply{
    padding: 1em;
     
    text-align:justify;
	text-justify:inter-word;

    line-height: 1.5em;
}
.participant{
    display: block;
}
.check-user > p, img{
    display: inline;
}
.reply{
    font-family: 'Quicksand',sans-serif;
    color: #757575;
    
}
#replies{
    display: none;
    font-family: 'Quicksand',sans-serif;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
