html{

    /* colors title */
    --color-title-orange: #ED7839;
    --color-title-geral: #4E4E4E;
    
    
    /*Bakgrounds */
    --color-background-oranged: #FDF1EB;
    --color-background-light: #F5F5F5;
  

    --font-white: #FFFFFF;
    --font-info: #725C5C;


    /* colors for gradient aside */
    --orange-light: #FFB354;
    --orange-dark: #EE7A3A;

    /* font-size: 62.5% /* 10px  */

    /* Font */
    font-family: 'Roboto', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;

    list-style: none;
}
#aplication{
    width: fit-content;
    height: fit-content;
}
.content-wrapper{
    width: 84%;
    float: right;

}
aside{
    width: 16%;
    margin: 0; padding: 0;
    float: left;
    top: -5px;
    position: fixed;

}

/* Estilo menu lateral */
aside >  #title-event{
    background: linear-gradient(180deg, var(--orange-light) 0%, var(--orange-dark) 100%);
    color: var(--font-white);
    padding: 2.2rem;
    text-align: center;
    
    
}
aside #image-event{
    width: 100%;
}
#title-event+h1{
    font-weight: bold;
}
#languages{
    padding:1rem 0;
}
#languages, select{
    background: var(--color-background-oranged);
    color: var(--color-title-geral);
    font-weight: bold;

}
.option-event > li {
    margin: 0px; padding: 0px;
    border-bottom: 1px solid #CCC;
    text-align: left;
    list-style-type: none;
}
.option-event a{
    font-weight: bold;
   
}
.option-event a:link {
    background: white;
    color: var(--font-info);
    text-decoration: none;
    padding: 8px;
    display: block;
}

/* Estilo conteudo da página */

.content-wrapper{
    background: white;

}
.content-wrapper  header{
    background-color: var(--color-background-oranged);
    color: var(--font-info);
    display: flex;
    justify-content: space-between;

    font-size: 0.8em;
    padding: 0.5em ;
    
    line-height: 2em;
    width: 100%;

}

.profille > #login{
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1em;
}
#login > img {
    border-radius: 50%;
    margin-left: 1em;
    display: flex;
    justify-content: center;
}
/* Corpo da página */
main{
    padding: 2em;
}
/*  Primeira seção do site*/
#apresentation-video{
    width: 95%;
    height: 450px;
}
#apresentation-main {
    width: 75%;
    float: left;

}
#apresentation-main h2{
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
}
#apresentation-info{
    width: 25%;
    margin: 0; padding: 0;
    float: right;
}
/* video */
#apresentation{
    margin: 1.5em;
}
/* botões do card info */
.controls{
   padding: 1em;
   display: flex;
   justify-content: center;
   text-align: center;
   
}
.controls button{
    color: var(--font-white);
    background-color: var(--color-title-orange);
    margin: 0.2em;
    border-radius: 8%;
    transition: 1s all;
}
.controls #download{
    width: 8em;
    padding: 0.5em;

}
.controls #favorite{
    width: 3em;
    padding: 0.5em;
}
.controls #doi{
    width: 4em;
    padding: 0.2em;
}
/* titulos em laranja */
.title-color{
    color: var(--color-title-orange);
}
.title-color h2{
    font-weight: bold;
    font-size:1.5em;
}
.title-color a {
    color: var(--color-title-orange);
    font-weight: bold;
    font-size: 0.9em;
    transition: 1s all;
}
/* Card de info dos autores */
#card-info{
    width: 100%;
    height: 90%;
    border: solid 1px #dbd3d3;
    margin-top: 0.5em;
    margin-bottom: 2em;
    color: var(--color-title-geral);
   
}
#card-info  #details-work{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    height: 25em;
    width: 100%;
}
#card-info  h3{
    background: var(--color-background-oranged);
    border: solid 1px #dbd3d3;
}

#card-info div{
    display: flex;
    flex-direction: column;
    width: 100%;

}
#card-info #detail-name{
    font-size: 1.3em;
    padding: 0.5em;
}
#card-info #details-work{
    padding: 0.5em;
}
#details-work #details-data, #details-autor-name{
    margin-bottom: 1em;
    line-height: 1.5em;
}
#author-info li{
    line-height: 1.5em;
}
/* Cards da página */
#abstract.card{
    height: fit-content;
}
#abstract-content{
    border: solid 15px #000;
    height: fit-content;

}
/* Titulos dos cards */
#barbage{
    background-color:white;
    color: white;
}
#resume,#discussions{
    background-color: var(--color-background-oranged);
    border: solid 1px #dbd3d3;
    padding: 1em;
}

.content-cards{
    border: solid 1px #dbd3d3;
    padding-bottom: 1em;
    margin-top: 2em;
    width: 90%;
    margin-left: 2em;
    height: fit-content;
    color: var(--color-title-geral);
}
#content-abstract{
    line-height: 1.5em;
    padding: 1em;
    
    text-align:justify;
	text-justify:inter-word;
}
#more{
    /* Construindo o leia mais do resumo */
    display:none;
}
#buttonRead{
    background: white;
    color: var(--font-info);
}
/* Cards dentro de discussões */
#share, #topic-name{
    width: 60%;
    margin: 2em 12em;
    border-bottom: 1px solid #CCC;
}
#topic-name{
    width: 90%;
    border: none;
    margin: 2em;
}
#new-topic{

    padding-bottom: 1em;
    margin-top: 2em;
    width: 90%;
    margin-left: 2em;
    color: var(--color-title-geral);
    display: none;

}
#new-topic div{
    padding: 0.8em 3em;
}
#new-topic input, textarea {
    padding: 0.3em;
    margin: 0 5em;
}
#new-topic input, textarea {
    width: 80%;
    border: 1px solid #CCC;

}
#sent-sucess{
    height: fit-content;
    width: 90%;
    border-bottom: 1px solid #CCC;

    padding: 3em;
    margin-left: 3em;
    line-height: 1.5em;
    text-align: center;
    text-justify: inter;

    display: none; 
}
#sent-sucess  #ad-topic{
    margin-left: 1em;
    margin-top: 3em;
}
#sent-sucess #discover{
    text-decoration: underline;
}
textarea {
    resize: none;
}
#discussion-topic{
    height: fit-content;
    width: 90%;
    background: var(--color-background-light);

    padding: 2em;
    border: 1px solid #CCC;
    margin: 2em;

    text-align: center;
    text-justify: inter;
    line-height: 1.5em;

    display: none;
}
#discussion-topic h4{
    color: var(--color-title-orange);
    font-weight: normal;
    text-decoration: underline;
}
#share #content-discussions{
    margin: 2em 4em;
}
#icons-discission{
    margin: 1em;
    padding-top: 1em;

}
#icons-discission img{
    margin-left: 3em;
}
#ad-topic, #send{
    color: var(--font-white);
    font-weight: bold;
    font-size: 1em;

    background: linear-gradient(180deg, var(--orange-light) 0%, var(--orange-dark) 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;

    width: 10em;
    padding: 0.5em;
    margin-left: 10em;
    margin-bottom: -20em;

    transition: 1s all;
}
#send{
    transition: 1s all;
    margin-left: 42em;
}
/* Ajeitar aqui a questão do envio do tópico de discussões*/

.reply{
    font-family: 'roboto','sans-serif';
    font-size: 1em;
    background: white;
    color: var(--color-title-geral);
}
.card{
    padding: 2em;
}
.likes-info{
    display: flex;
    padding: 0.5em;
}
.likes-info > p,button {
    margin: 0.5em;
}
.like{
    background: var(--orange-dark);
    width:2em;
}
.opt{
    font-weight: 900;
    color: var(--orange-dark);
}
footer > img{
    margin-top: 5em;
   

}
/* Comentarios da discussão */
.reply-author,.reply-coauthor,.reply-participant{
    height: fit-content;
    border: 1px solid #CCC;
}
.reply-author, .reply-coauthor{
    background: var(--color-background-light);
}
.name-author-reply{
    font-weight: bold;
    color: var(--color-title-geral);
}
.title-author-reply{
    font-weight: bold;
    color: var(--color-title-orange);
}
.reply-info{
    display: flex;
    justify-content: space-between;
}
.card-reply{
    padding: 1em;
     
    text-align:justify;
	text-justify:inter-word;

    line-height: 1.5em;
}
.participant{
    display: block;
}
.check-user > p, img{
    display: inline;
}
#replies{
    display: none;
}
