*{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 0;

    --color-main: #FFFFFF;
    --color-title-background: #FDF1EB;
    --color-font-color: #ED7839;
}

header {
    float: right;
    width: 85%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-title-background);
}
.menu{
    width: 15%;
    margin: 0.5em;
}
main{
    width: 85%;
    float: right;
}
